.git
.gitignore
.env
.env.test
.env.example
__pycache__
*.pyc
*.pyo
*.egg-info
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
htmlcov
dist
build
tests
images
*.md
!README.md
.vscode
.idea
renovate.json
codecov.yml
crowdin.yml
_typos.toml
