TELEGRAM_TOKEN=EXAMPLE_TELEGRAM_TOKEN
# Neon PostgreSQL (o cualquier PostgreSQL compatible)
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
ADMIN_TELEGRAM_ID=123

# Opcionales
GOOGLE_FONTS_TOKEN=
GA_API_SECRET=
GA_MEASUREMENT_ID=
SENTRY_DSN=
